


.page{
    height: auto;
}

.gridd {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    /* box-shadow: rgba(255, 255, 255) 0px -50px 36px -28px inset; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

    /* background-color: white; */
    position: relative;
    overflow: hidden;
    z-index: -2;
    opacity: 0.3;
}

.gridd::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* Adjust the height of the blurred area */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f8f9f9);
    /* Adjust the opacity stops */
    pointer-events: none;
    z-index: 1;
}

.grid_items{
    border: 0.5px solid #9C54F39F;
    /* border-bottom: 1px solid rgba(255, 167, 90, 0.5); */

    border-bottom: 1px solid #9C54F39F;
    /* border: 1px solid rgba(255, 145, 48, 0.799); */
}


.kickstart{
    color: #ff4917;
    font-size: 2.2rem;
}

.ai{
    color: #ff4917;

}

.buttons{
    background-color: #9C54F39F;
}


.grey{
    background-color: #f8f9fa;
}


.orange_grad{
  background:  linear-gradient(180deg, #fd3c34 0%, rgb(254, 140, 75) 100%);
}

.orange_grad_top{
    background: linear-gradient(180deg,#ffffff 0%,rgba(254,210,194,1) 45.94594594594595%,rgb(253,141,75) 100%);
}

.b1{
    border-bottom: 1px solid #ebebeb;
}

.head{
    color: #333333;
}

.back{
    background-image: url('https://framerusercontent.com/images/eLwUK0KEINGeeA0tyUaDIYLYtwQ.jpg?scale-down-to=2048');
    background-size: cover;
}


/* Pricing- Make payment component */


.hovdef{
    background-color: #ff4917;
    color: white;
    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

}


.hov:hover{
    background-color: #ff4917;
    color: white;
    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.hov{
    background-color: #f2f2f2;
    color: #333333;


}

.pricing{
    background-color: #ffb84d;
}


/* reasponsive */


@media (min-width:90px) and ( max-width:1108px){
    .res{
        padding: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:980px)  {
    .gid {
       grid-template-columns: repeat(2,1fr);
       grid-template-rows: repeat(3,1fr);
       
    }
}

@media (max-width:500px) {
    .gid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);

    }

    .wassapp{
        flex-direction: column;
    }

    .wassapp_left{
        width: 100%;
    }

    .wassapp_right{
        padding-top: 40px;
        width: 100%;
    }

    .wassapp_img{
        height: 250px;
        width: 250px;
    }
}

@media (max-width:600px){

    .head{
        font-size: 2.4rem;
        width: 100vw;
        padding-top: 50px;
       
    }

    .head2{
        font-size: 1.2rem;
        width: 80%;
    }

    .trusted{
        font-size: 2rem;
    }

    .enhance{
        font-size: 2.2rem;
    }

    .subhead{
        font-size: 1.5rem;
    }

    .framer{
        width: 90%;
    }

    .sign{
        font-size: 2.5rem;
    }

}

/* Navbar responsive */

@media (max-width:500px){
    .nav{
        
        position: absolute;
        right: 0;
        top: 60px;
        background-color: white;
        border: 1px solid grey;
        padding: 20px;
        flex-direction: column;
        gap:20px;
        align-items: center;
        width: 100%;
    }

    .menu{
        display: block;
    }
}

