@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.nav{
    /* background-image: linear-gradient(to right, #e74316, #e77558); */
    /* box-shadow: 0 5px 10px rgba(0,0,0,0.5); */
    position: sticky;
    top: 0;
    z-index: 10;
    /* border-bottom: 2px solid rgb(119, 119, 119); */
    background-color: white;
    border: 2px solid rgb(172, 172, 172);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    font-family: 'Inter', sans-serif;

}

.logo{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 50px 90px;
}

.inter{
    font-family: 'Inter', sans-serif;
    
}


/* footer responsiveness */

@media (max-width: 980px) {
    .fot{
        display: none;
    }

    .width{
        width: 33.33%;
        
    }
}

@media (max-width: 850px) {

    .inter{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        gap: 40px;
    }

    .width{
        justify-content: center;
        width: 100%;
            align-items: center;
    }

    .width2{

        justify-content: start;
            width: 100%;
            align-items: start;
            padding-left: 2rem;

    }

    .sub{
        padding: 0;
         padding-left: 2rem;
         width: 100%;
    }

    .sub2{
        justify-content: start;
        align-items: start;
        width: 100%;
        padding: 0;
        gap: 10px;
        padding-bottom: 20px;
            padding-left: 2rem;
    }
    
}


