.sidemenu{
    height: 90vh;
}


@media (max-width: 768px) {
    .container{
        flex-direction: column;
        width: 90%;
    }


    .left{
        width: 100%;
    }

    .right{
        width: 100%;
        margin-top: 50px;
        margin-left: 0;
        
    }

    .notes{
        font-size: 2.2rem;
    }

}


@media (min-width:0px) and  (max-width: 1080px) {
    .topic{
        flex-direction: column;
        align-items: start;

    }



}



